@font-face{
	font-family:"Bitter";
	font-style:normal;
	font-weight:400;
	src:local("Bitter-Regular"),url("../external-fonts/s9gJB935qk_YG8d-lnTdvA.woff") format("woff");
}
@font-face{
	font-family:"Bitter";
	font-style:normal;
	font-weight:700;
	src:local("Bitter-Bold"),url("../external-fonts/JGVZEP92dXgoQBG1CnQcfD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
.image-bg {
	padding: 0;
	background:url(images/my-picture.png) repeat center top;
}
.image-bg2 {
	background-image:url(images/my-picture.png);
	margin: 10px;
}
